* {
	margin: 0;
	padding: 0;
	border: 0;
	user-select: none;
}
*, *:before, *:after {
	box-sizing: border-box;
}

* { -webkit-tap-highlight-color: transparent; }

*::-moz-focus-inner { border: 0; }

*:focus-visible { outline: none; }


html, body {
	height: 100%;
	width: 100%;
}
body {
	display: grid;
	place-items: center;
	background: #000000;
	color: #dddddd;
	font-family: sans-serif;
}
canvas {
	height: 100vh;
	width: 100vw;
}

.select {
	position: fixed;
	background-color: black;
/*	border-radius: 32px;
	corner-shape: squircle;*/
	padding: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 16px 16px black;
}

input[type="radio"] {
	appearance: none;
	display: inline-block;
	width: 8mm;
	height: 8mm;
	border: .4mm solid #aaa;
	border-radius: 32%;
	corner-shape: squircle;

	margin-block: 0;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;
	margin: 8px;

	transition:
		transform .5s ease-in-out,
		filter     1s ease-in-out;
	filter: brightness(60%) sepia(.4);
}
input[type="radio"]:checked {
	transform: scale(1.6);
	filter: unset;
}

#tiles  { top:    10%; }
#colors { bottom: 10%; }

/* small screen */
@media screen and (max-width: 15cm) {
	.select { width: 90%; }
}

/* big screen */
@media screen and (min-width: 15cm) {
	.select { width: 50%; }
}

#help {
	position: fixed;
	top: 45%;
	background-color: black;
	padding: 1em;
	font-size: 22pt;
	box-shadow: 0 0 16px 16px black;
	transition: opacity 1s ease-in-out;
}
