* {
	margin: 0;
	padding: 0;
	border: 0;
	user-select: none;
}
*, *:before, *:after {
	box-sizing: border-box;
}

* { -webkit-tap-highlight-color: transparent; }

*::-moz-focus-inner { border: 0; }

*:focus-visible { outline: none; }


html, body {
	height: 100%;
	width: 100%;
}
body {
	display: grid;
	place-items: center;
	background: #000000;
	color: #dddddd;
	font-family: sans-serif;
}
canvas {
	height: 100vh;
	width: 100vw;
}
